* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    padding: 10px;
    color: teal;
    font-family: 'Lusitana', serif;
    font-weight: 400;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 100%;
}

b {
    font-weight: 700;
}

.error{
    color:red;
}